html, body, .content {
  height: 100%;
  margin: 0;
}

.content {
  background: rgb(87, 113, 124);
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.content-header {
  color: white;
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.content-body {
  background: rgb(87, 113, 124);
  display: flex;
  flex-direction: column;
}

.message-board-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.message-board{
  color: white;
  font-size: 2rem;
  background: rgb(80, 80, 80);
  padding: 1rem;
  text-align: center;
  width: 20rem;
  font-family: monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 15rem;
  padding-right: 15rem;
}

.grid-one-container, .grid-two-container {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.grid-name {
  align-self: center;
  font-size: 1.5rem;
}

.grid-one, .grid-two {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 35rem;
  height: 35rem;
  justify-self: center;
  padding: 2rem;
}

.grid-one-cells, .grid-two-cells {
  background: transparent;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
}

.grid-two-cells {
  cursor: crosshair;
}

.grid-two-cells:hover {
  border-color: grey;
}

.occupied {
  background: rgb(61, 61, 61);
}

.missed {
  background: rgb(53, 82, 109);
}

.hit {
  background: rgb(136, 48, 48);
}

.frozen {
  opacity: 0.4;
  pointer-events: none;
}
